<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/Theme.TripTrack"
            android:usesCleartextTraffic="true"
            tools:targetApi="31">
        <activity
                android:name=".SendIncidents"
                android:exported="false"
                android:label="@string/title_activity_send_incidents"
                android:theme="@style/Theme.TripTrack.NoActionBar"/>
        <activity
                android:name=".FolderActivity"
                android:exported="true"/>
        <activity
                android:name=".FinishedTripsActivity"
                android:exported="true"/>

        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="com.example.triptrack.provider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths"/>
        </provider>

        <activity
                android:name=".AlbumPhotoActivity"
                android:exported="true"/>
        <activity
                android:name=".ProfileActivity"
                android:exported="true"/>
        <activity
                android:name=".MapamundiActivity"
                android:exported="true"/>
        <activity
                android:name=".TravelAgendaActivity"
                android:exported="true"/>
        <activity
                android:name=".ExpenseCalculationActivity"
                android:exported="true"/>
        <activity
                android:name=".ImportDocumentsActivity"
                android:exported="true"/>
        <activity
                android:name=".InfoTripActivity"
                android:exported="true"/>
        <activity
                android:name=".CreatingNewTripActivity"
                android:exported="true"/>
        <activity
                android:name=".SignUpActivity"
                android:exported="true"/>
        <activity android:name=".LoginActivity"/>
        <activity android:name=".MainActivity"/>
        <activity
                android:name=".SplashScreenActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>